<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestAsyncCodeExample.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D9BC78EF22938F2B001C70AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9BC790322938F2E001C70AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9BC790E22938F2E001C70AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
